<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se | +Ambiente</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- Imports -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body>

    <div id="appRoot" class="loginApp">
        <h1>+Ambiente</h1>
        {{#if message }}
            <h4 class="{{code}}">{{message}}</h4>
        {{/if}}
        <form action="/auth/cadastro" method="post">
            <a href="/" class="back">Voltar</a>
            <h3>Cadastre-se</h3>
            <div class="input-group">
                <input type="text" name="name_user" placeholder="Digite seu nome" required>
                <input type="text" name="user" placeholder="Digite seu usuário" required>
                <input type="password" name="password" placeholder="Digite sua senha" required>
                <input type="password" name="password_confirm" placeholder="Confirme sua senha" required>
            </div>
            <button type="submit" class="btn-default">Cadastrar</button>
            <a href="/login" class="help">Fazer login</a>
        </form>
    </div>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</body>
</html>
