<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | +Ambiente</title>

    <link rel="stylesheet" href="/css/main.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

</head>

<body>

    <div id="appRoot" class="dashboardApp">
        <form id="chat">
                <div class="chatHeader">
                    <h3>Entre em Contato</h3>
                </div>
                <div class="messages"></div>
                <div class="chatAction">
                    <input type="text" name="message" id="chatTextMessage" placeholder="Digite sua mensagem">
                    <button type="submit"><img src="/img/paper-plane-solid (1).svg" alt=""></button>
                </div>
        </form>
        <header>
            <div class="container">
                <div class="navbar">
                    {{#if user }}
                        <h4 class="userLogged">Bem vindo {{user}} <i>({{level}})</i></h4>
                    {{/if}}
                    <h1>+Ambiente</h1>
                </div>
            </div>
        </header>
        <div class="sidebar">
            <h3>Filtrar por:</h3>
            <form action="" method="GET" id="formFilter">
                <div class="input-group">
                    <label for="FiltroEstado">Estado:</label>
                    <select name="" id="FiltroEstado">
                        <option value="">Todos</option>
                        <option value="Pendente">Pendente</option>
                        <option value="Em Atendimento">Em Atendimento</option>
                        <option value="Finalizado">Finalizado</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="FiltroCaso">Casos:</label>
                    <select name="" id="FiltroCaso">
                        <option value="">Todos</option>
                        <option value="Caça aos Animais">Caça de Animais</option>
                        <option value="Maus-tratos de Animal">Maus-tratos de Animais</option>
                        <option value="Incêndio">Incêndio</option>
                        <option value="Desmatamento">Desmatamento</option>
                        <option value="Poluição de Rios">Poluição de Rios</option>
                    </select>
                </div>
                <div class="btn">
                    <button type="submit">Filtrar</button>
                </div>
            </form>
            <div class="config">
                <a href="/auth/logout" class="logout">Sair</a>
            </div>
        </div>
        <div class="dashboardContent">
            <h3>Chamados <div class="action"><a href="" id="reloadedListaButton"><img src="/img/sync-alt-solid.svg" alt=""></a><a href="" id="criarChamadoButton">Criar Chamado</a></div></h3>
            <div class="cardList" id="cardListChamados">
                Carregando dados...
            </div>
        </div>
        {{!-- Modal Editar --}}
        <div id="modalEditarChamado">
            <form action="" id="formEditarChamado">
                <input type="hidden" id="chamadoID">
                <a href="" onclick="event.preventDefault();$('#modalEditarChamado').removeClass('enabled')">Fechar</a>
                <h3>Editar Chamado</h3>
                <div class="input-group casos">
                    <label for="editarCaso">Caso:</label>
                    <select name="" id="editarCaso" required>
                        <option value="Caça aos Animais">Caça aos Animais</option>
                        <option value="Maus-tratos de Animal">Maus-tratos de Animais</option>
                        <option value="Incêndio">Incêndio</option>
                        <option value="Desmatamento">Desmatamento</option>
                        <option value="Poluição de Rios">Poluição de Rios</option>
                    </select>
                </div>
                <div class="input-group estados">
                    <label for="editarEstado">Estado:</label>
                    <select name="" id="editarEstado" required>
                        <option value="Pendente">Pendente</option>
                        <option value="Em Atendimento">Em Atendimento</option>
                        <option value="Finalizado">Finalizado</option>
                    </select>
                </div>
                <div class="input-group local">
                    <label for="editarLocal">Local:</label>
                    <input type="text" id="editarLocal" required>
                </div>
                <div class="input-group data">
                    <label for="editarData">Data e Hora:</label>
                    <input type="date" id="editarData" required>
                </div>
                <div class="btn">
                    <button type="submit">Salvar</button>
                </div>
            </form>
        </div>

        {{!-- Modal Criar --}}
        <div id="modalCriarChamado">
            <form action="" id="formCriarChamado">
                <a href="" onclick="event.preventDefault();$('#modalCriarChamado').removeClass('enabled')">Fechar</a>
                <h3>Criar Chamado</h3>
                <div class="input-group casos">
                    <label for="novoCaso">Caso:</label>
                    <select name="" id="novoCaso" required>
                        <option value="" selected disabled>Selecione o caso</option>
                        <option value="Caça aos Animais">Caça aos Animais</option>
                        <option value="Maus-tratos de Animal">Maus-tratos de Animais</option>
                        <option value="Incêndio">Incêndio</option>
                        <option value="Desmatamento">Desmatamento</option>
                        <option value="Poluição de Rios">Poluição de Rios</option>
                    </select>
                </div>
                <div class="input-group estados">
                    <label for="novoEstado">Estado:</label>
                    <select name="" id="novoEstado" required>
                        <option value="" selected disabled>Selecione o estado</option>
                        <option value="Pendente">Pendente</option>
                        <option value="Em Atendimento">Em Atendimento</option>
                        <option value="Finalizado">Finalizado</option>
                    </select>
                </div>
                <div class="input-group local">
                    <label for="novoLocal">Local:</label>
                    <input type="text" id="novoLocal" required placeholder="Digite o endereço da ocorrência">
                </div>
                <div class="input-group data">
                    <label for="novaData">Data e Hora:</label>
                    <input type="date" id="novaData" required>
                </div>
                <div class="btn">
                    <button type="submit">Criar</button>
                </div>
            </form>
        </div>
    </div>

    {{#if id}}

        <script>

            window.idUsuarioLogado = {{id}};
            window.UsuarioLogado = '{{user}}';

        </script>

    {{/if}}

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Socket IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

    <script src="/js/dashboard.js"></script>

</body>

</html>

